.test {
  background-image: url("../../images/backgroun.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 68px);
  display: flex;
  justify-content: center;
  align-items: center;
}
